.primary {
    color: #224f26;
  }
  .Secondary {
    color: #162969;
    width: 400px;
  }
  .Accent {
    color: #77c97e;
    height: 100px;
    width: 200px;
  }
  .Decor {
    color: #113614;
    height: 100px;
    width: 200px;
  }
  .Main {
    color: #57401b;
  }